body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
  margin: 0;
  padding: 0;
  color: #333;
}
header {
  background-color: #492a66;
  color: white;
  padding: 15px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin-right: 15px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover,
nav a.active {
  text-decoration: underline;
}
main {
  padding: 20px;
}
footer {
  background-color: #492a66;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 0.8em;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #0a0a0a;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #492a66;
  color: white;
}
form {
    border: 2px solid #ccc;
    padding: 20px;
    width: 300px;
    height: auto;
    border-radius: 15px; /* Тут задається скруглення кутів */
  }
  form label {
    display: block;
    margin-bottom: 5px;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form textarea {
    width: calc(100% - 20px); /* Враховуємо padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 15px; /* Скруглення для полів вводу */
  }
  form button {
    padding: 10px 15px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  form button:hover {
    background-color: #492a66;
  }
  input[type="submit"] {
  background-color: #492a66; /* Початковий колір кнопки */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
input[type="submit"]:active {
  background-color: #45a049; /* Новий колір при натисканні */
  transform: translateY(2px); /*  Ефект при натисканні */
}